*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;     /* IE 10 і Edge */
    user-select: none;         /* Стандарт для Chrome, Firefox, Opera */
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    min-width: 600px;
    height: 100%;
    width: 100%;
    max-height: 100svh;
    max-width: 100svw;
}
.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1vmin;
}
.cell {
    width: 10vmin;
    height: 10vmin;
    margin-right: 1vmin;
    text-align: center;
    font-size: 5vmin;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    caret-color: transparent;
    background-color: transparent;
    border: 3px solid #ccc;
    color: inherit;
    pointer-events: none;
}
.cell:focus, .cell:active, .cell:focus-visible {
    border-color: #8f8f8f;
    outline: none;
}
.cell::selection, .cell::-moz-selection {
    background: transparent;
}
.cell.wrong {
    background-color: #464646;
    border-color: #464646;
    color: #fff;
}
.cell.correct {
    background-color: #00d312;
    border-color: #00d312;
    color: #fff;
}
.cell.match {
    background-color: #e5ff00;
    border-color: #e5ff00;
    color: #fff;
}
.cell.full {
    border-color: #8f8f8f;
}
@keyframes RotateTile {
    0% {
        transform: rotateX(0);
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0);
    }
}